/*ブラウザがそれぞれ持っているCSSをリセットするための記述*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px; /*横幅960px*/
  margin: 50px auto; /*外側余白上下:50px,左右:auto*/
}

.list {
  margin-bottom: 50px; /*外側余白下:50px*/
}

.list-text {
  padding: 20px; /* 内側余白:20px */
  list-style: none;
}

.list-text:nth-child(odd) {
  background-color: #eee; /*奇数番目のタグの背景色を#eee*/
}

.square {
  display: flex; /* Flexboxの利用 */
  flex-wrap: wrap; /* 折り返し */
}

.square-list {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.square-list:first-child,/*最初のdivタグ*/
.square-list:nth-child(5),/*5番目のdivタグ*/
/*最後のdivタグ*/
.square-list:last-child {
  background-color: #ff8c00; /*背景色：#ff8c00*/
}

/*3の倍数divタグ*/
.square-list:nth-child(3n) {
  margin-right: 0; /*外側余白右:0px*/
}

/*最後の3つのdivタグ*/
.square-list:nth-last-child(-n + 3) {
  margin-bottom: 0; /*外側余白下:0px*/
}
